auto-py-to-exe==2.46.0
backports.tarfile==1.2.0
configparser==7.2.0
importlib-metadata==8.0.0
imutils==0.5.4
jaraco.collections==5.1.0
keyboard==0.13.5
mss==10.0.0
opencv-python==4.11.0.86
pillow==11.2.1
platformdirs==4.2.2
psutil==7.0.0
tomli==2.0.1
# altgraph==0.17.4 # Installed as dependency for pyinstaller
# autocommand==2.2.2 # Installed as dependency for jaraco.text
# bottle==0.13.3 # Installed as dependency for bottle-websocket, eel
# bottle-websocket==0.2.9 # Installed as dependency for eel
# certifi==2025.4.26 # Installed as dependency for requests
# cffi==1.17.1 # Installed as dependency for gevent
# charset-normalizer==3.4.2 # Installed as dependency for requests
# eel==0.18.1 # Installed as dependency for auto-py-to-exe
# future==1.0.0 # Installed as dependency for eel
# gevent==25.5.1 # Installed as dependency for gevent-websocket
# gevent-websocket==0.10.1 # Installed as dependency for bottle-websocket
# greenlet==3.2.2 # Installed as dependency for gevent
# idna==3.10 # Installed as dependency for requests
# inflect==7.3.1 # Installed as dependency for jaraco.text
# jaraco.context==5.3.0 # Installed as dependency for jaraco.text
# jaraco.functools==4.0.1 # Installed as dependency for jaraco.text
# jaraco.text==3.12.1 # Installed as dependency for jaraco.collections
# more-itertools==10.3.0 # Installed as dependency for inflect, jaraco.functools, jaraco.text
# numpy==2.2.6 # Installed as dependency for opencv-python
# packaging==25.0 # Installed as dependency for pyinstaller, pyinstaller-hooks-contrib
# pefile==2023.2.7 # Installed as dependency for pyinstaller
# pycparser==2.22 # Installed as dependency for cffi
# pyinstaller==6.13.0 # Installed as dependency for auto-py-to-exe
# pyinstaller-hooks-contrib==2025.4 # Installed as dependency for pyinstaller
# pyparsing==3.2.3 # Installed as dependency for eel
# pywin32-ctypes==0.2.3 # Installed as dependency for pyinstaller
# requests==2.32.3 # Installed as dependency for auto-py-to-exe
# typeguard==4.3.0 # Installed as dependency for inflect
# typing-extensions==4.13.2 # Installed as dependency for eel, typeguard
# urllib3==2.4.0 # Installed as dependency for requests
# zipp==3.19.2 # Installed as dependency for importlib-metadata
# zope.event==5.0 # Installed as dependency for gevent
# zope.interface==7.2 # Installed as dependency for gevent
